<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${scratcherGameOverview}">
    <div class="form-group">
        <label th:for="name">Game Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="gameID">Game ID</label>
        <input class="form-control" th:field="*{gameID}" />
        <span th:errors="*{gameID}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="ticketPrice">Ticket Price</label>
        <input class="form-control" th:field="*{ticketPrice}" />
        <span th:errors="*{ticketPrice}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="startMonth">Official Start Month</label>
        <input class="form-control" th:field="*{startMonth}" />
        <span th:errors="*{startMonth}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="startDay">Official Start Day</label>
        <input class="form-control" th:field="*{startDay}" />
        <span th:errors="*{startDay}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="startYear">Official Start Year</label>
        <input class="form-control" th:field="*{startYear}" />
        <span th:errors="*{startYear}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="averageWinLossChance">Average Win Loss Chance</label>
        <input class="form-control" th:field="*{averageWinLossChance}" />
        <span th:errors="*{averageWinLossChance}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="allPrizes">Prize Table (separated by commas)</label>
        <input class="form-control" th:field="*{allPrizes}" />
        <span th:errors="*{allPrizes}" class="error"></span>
    </div>
    <input type="submit" value="Add Data" />
</form>

</body>
</html>