<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/luckbasedmission.css}" rel="stylesheet" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <nav th:fragment="navigation">
        <a href="/">Most Recent Snapshots</a> |
        <a href="/overviews">All Game Overviews</a> |
        <a href="/addOverview">Add a New Game</a>  |
        <a href="/addSnapshot">Update a Game's Snapshot</a>
    </nav>
</body>
</html>