<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${allgames} and ${allgames.size()}">No games have been loaded into the database</p>

<table class="table">

    <tr>
        <th th:replace="index :: datesort"></th>
        <th th:replace="index :: namesort"></th>
        <th><a th:href="@{/(sortfield=number, sortdir=desc)}">Number</a></th>
        <th th:replace="index :: pricesort"></th>
        <th th:replace="index :: returnsort"></th>
        <th th:replace="index :: returnpercentagesort"></th>
    </tr>

    <tr th:replace="index :: results">
    </tr>

</table>

</body>
</html>