<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${allgames} and ${allgames.size()}">No games have been loaded into the database</p>

<table class="table">

    <tr>
        <th th:replace="overviewindex :: datesort"></th>
        <th th:replace="overviewindex :: namesort"></th>
        <th th:replace="overviewindex :: numbersort"></th>
        <th><a th:href="@{/overviews/(sortfield=price, sortdir=desc)}">Ticket Price</a></th>
        <th th:replace="overviewindex :: returnsort"></th>
        <th th:replace="overviewindex :: returnpercentagesort"></th>
    </tr>

    <tr th:replace="index :: results">
    </tr>

</table>

</body>
</html>