<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${allgames} and ${allgames.size()}">No games have been loaded into the database</p>

<table class="table">

    <tr>
        <th><a th:href="@{/(sortfield=date, sortdir=desc)}">Start Date</a></th>
        <th><a th:href="@{/(sortfield=name, sortdir=asc)}">Game Name</a></th>
        <th><a th:href="@{/(sortfield=number, sortdir=asc)}">Number</a></th>
        <th><a th:href="@{/(sortfield=price, sortdir=asc)}">Ticket Price</a></th>
        <th><a th:href="@{/(sortfield=return, sortdir=desc)}">Expected Return</a></th>
        <th><a th:href="@{/(sortfield=percentage, sortdir=asc)}">As Percentage of Ticket Price</a></th>
    </tr>

    <tr th:replace="index :: results">
    </tr>

</table>

</body>
</html>