<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="get">
    <div class="form-group">
        <label th:for="scratcherGames">Based on Standard Game</label>
        <select name="scratcherGameUID">
            <option th:each="scratcherGame : ${scratcherGames}"
                    th:text="${scratcherGame.name} + ' ' + ${scratcherGame.createdMonth} + '/' + ${scratcherGame.createdDay} + '/' + ${scratcherGame.createdYear}"
                    th:value="${scratcherGame.uidNumber}"></option>
        </select>
    </div>
    <input type="submit" value="Add Starter Data" />
</form>

</body>
</html>