<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br/>
<form method="get">
    <div class="form-group">
        <div class="col-lg-4" th:each="scratcherGame : ${scratcherGames}">
            <span class="input-group-addon">
                <input type="radio" name="scratcherGameUID" th:value="${scratcherGame.uidNumber}"/>
                <span th:text="${scratcherGame.createdMonth} + '/' + ${scratcherGame.createdDay} + '/' + ${scratcherGame.createdYear}"></span>
                <span th:text="${scratcherGame.name}"></span>
            </span>
        </div>
    </div>
    <div class="col-lg-12">
        <br/>
        <input type="submit" value="To Customization Page" />
    </div>
</form>

</body>
</html>